DATABASE_URL=postgresql://john:password@127.0.0.1:5432/mydb

NEXT_PUBLIC_DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/callback
NEXT_PUBLIC_DISCORD_CLIENT_ID=your_client_id
DISCORD_CLIENT_SECRET=your_client_secret

RESEND_API_KEY=your_resend_api_key_here
RESEND_EMAIL_FROM=name@domain.com
RESEND_EMAIL_TO=name@domain.com